.pkg-details-booking{
    min-height: calc(100vh - 348.5px);
}
.pkg-details-img{
    max-height: 300px;
}
.booking-form{
    width: fit-content;
    box-shadow: 0 0 10px 1px rgba(74, 74, 238, 0.568);
}
