
.destination-frame{
    overflow: hidden;
    cursor: pointer;
}
.destination-card:hover .destination-img img{
    transform: scale(1.5);
    transition: transform 1s ease-in-out;
}
.explore{
    left: 33%;
    bottom: 0;
    color: chartreuse;
    backdrop-filter: blur(2px);
    position: absolute;
    opacity: 0;
}
.destination-card:hover .explore{
    transform: scale(1.5) translateY(-250%) ;
    transition: transform  0.7s ease-in-out;
    opacity: 1;
    display: block;
}

 .location-name{
    font-size: large;
    font-weight: 700;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}  
